@{
    ViewData["Title"] = "Điều khoản sử dụng";
}

<div class="container mt-5">
    <h1 class="mb-4">Điều khoản sử dụng</h1>
    <p>Chào mừng bạn đến với SportShop! Chúng tôi cam kết bảo vệ và tôn trọng quyền riêng tư của bạn. Vui lòng đọc kỹ các điều khoản sử dụng dưới đây để hiểu rõ quyền lợi và trách nhiệm của bạn khi sử dụng trang web và dịch vụ của chúng tôi:</p>
    <h2 class="mt-4">1. Quy định chung</h2>
    <ul>
        <li>Người dùng cần <strong>tuân thủ các quy định</strong> về bảo mật thông tin cá nhân và không được sử dụng trang web cho các mục đích bất hợp pháp.</li>
        <li>Chúng tôi có quyền <strong>thay đổi</strong> các điều khoản sử dụng bất kỳ lúc nào mà không cần thông báo trước. Người dùng có trách nhiệm kiểm tra và cập nhật các thay đổi này.</li>
    </ul>
    <h2 class="mt-4">2. Bảo mật thông tin</h2>
    <ul>
        <li>Thông tin cá nhân của bạn sẽ được bảo mật và chỉ sử dụng cho các mục đích liên quan đến dịch vụ của chúng tôi. Chúng tôi cam kết không chia sẻ thông tin của bạn với bên thứ ba mà không có sự đồng ý của bạn.</li>
        <li>Bạn có trách nhiệm bảo mật tài khoản và mật khẩu của mình. Vui lòng thông báo ngay cho chúng tôi nếu phát hiện bất kỳ hoạt động sử dụng trái phép nào.</li>
    </ul>
    <h2 class="mt-4">3. Quyền và trách nhiệm của người dùng</h2>
    <ul>
        <li>Người dùng có quyền truy cập và sử dụng các dịch vụ của chúng tôi theo các điều khoản và điều kiện được quy định.</li>
        <li>Người dùng có trách nhiệm cung cấp thông tin chính xác và cập nhật khi sử dụng dịch vụ của chúng tôi.</li>
        <li>Người dùng cam kết không thực hiện các hành vi gây hại hoặc làm gián đoạn hoạt động của trang web và dịch vụ.</li>
    </ul>
    <p class="mt-4">Nếu bạn có bất kỳ thắc mắc hoặc khiếu nại nào liên quan đến điều khoản sử dụng, vui lòng liên hệ với bộ phận chăm sóc khách hàng của chúng tôi để được hỗ trợ kịp thời.</p>
    <p>SportShop luôn sẵn sàng lắng nghe và giải quyết mọi vấn đề của bạn.</p>
</div>
